.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions a {
  text-decoration: none;
  font-size: 18px;
}

.wa-link {
  display: inline-flex;
  align-items: center;
}

.wa-icon {
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

.wa-link:hover .wa-icon {
  transform: scale(1.1);
}
